/* css footer */

#top-footer{
    height:75px;
    width: 100%;
    background-color: #e9573f;
    font-size: 0.9em;
}

#logo-numerama{
    width: 180px;
    height: 45px;
}

#top-footer-left{
    margin-top: 18px;
}

#top-footer-right{
    margin-top: 2.1em;
    font-size: 0.9em;
}

#bottom-footer p{    
    font-size: 0.8em;
}

#bottom-footer a{
    color:black;
}

#bottom-footer-bis{
    height:65px;
    width: 100%;
    background-color: #d34e39;
    font-size: 1.0em;    
}

#bottom-footer-ter{
    height:115px;
    width: 100%;
    background-color: #d34e39;
    font-size: 1.0em;    
}

#urlHumanoid:hover
{
  color:#e9573f;
  text-decoration:none;
  
}

.deco-none:hover
{
  text-decoration:none;
}

   


/* media queries */

@media screen and (max-width: 992px){ 
  #top-footer{
  height:150px;}    
} 




