
/* ------------------ Fonts declaration -------------- */

@font-face{
    font-family:"futuraLT";
    src : url("./font/futura-lt/FuturaLT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"futuraLT-bold";
    src : url("./font/futura-lt/FuturaLT-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ----------------------- CSS content BEGIN ----------------------------------  */


/* --------------- Global rules ------------------ */
body {
    font-family: 'futuraLT','Times New Roman', Times, serif;
    background-color: #EEEEEE;
}
#wrap-all{
    width:1200px;
}

.main-container{
    background-color: #EEEEEE;
}

img{
    width: 100px;
    height: 150px;
}

h1{
    font-family: "futuraLT-bold",'Times New Roman', Times, serif;
    color:#e9573f;
}

h2{
    font-family: "futuraLT-bold",'Times New Roman', Times, serif;
    color:#e9573f;
}

a{
    color:black;
}

a:hover{
    text-decoration: none;
    color: black;
}




/* Règles bloc top , caché sur portable et tablette */



/*  ----------------- Règles main bloc -------------------- */

/* Rules Weekly brief : Hidden on phone & Tablet  */

.main-content{
    padding-top:25px;
}

#weekly-brief{
    display: inline-block;
    font-family: 'futuraLT-bold','Times New Roman', Times, serif;
    font-size: 0.9em;
    width:250px;
}

#weekly-brief h2{
    font-size:2em;
    margin-top: 15px
}

#weekly-brief ol li{
    margin-top:10px;
    font-size: 1.5em;
}

#adspace{
    height: 400px;
    width: 100%;
    margin: 0 auto;
}

/* Rules last-art */

#last-art-container{
    display: inline-block;
    width:95%;
    margin:0 auto;
}

.last-art{
    padding-bottom: 20px;
    padding-top: 20px;
}

#grid-icon, #list-icon{
    border:none;
    background-color: #FFF;
    margin-left:15px;
}
#grid-icon-img, #list-icon-img{
    height: 15px;
    width: 15px;
}
#list-icon-img{
    height: 20px;
    width: 20px;
}
.art-img{
    width: 100%;
    height: 250px;
    z-index: 100;
}




.art-infos h3{
    margin-top: 15px;
    font-size: 1.2em
}


@media screen and (max-width: 992px) {

    .last-art{
        margin-top:50px
    }
    .art-infos h3 {
    font-size: 1.2em;
    }
    .last-art{
        height:200px;
        align-items: flex-start;
    }
    .art-img{
        width: 100%;
        height: 100px;
    }
}

.tag-last-art{
    font-family: "futuraLT-bold", 'Times New Roman', Times, serif;
    font-size:0.9em;
    background-color: #EEEEEE;
    color: #FFF;
    transition: all;
}

.tag-last-art:hover{
    background-color: #e9573f;
}



.date{
    font-size:0.8em;
    margin-top : 5px
}



/* Rules categories */

.right-icon{
    width:10%;
    height:5%
}

.more-art{
    font-family: "futuraLT-bold",'Times New Roman', Times, serif;
    color: #e9573f;
    padding-top:100px;
}


.tech-art{
    display: inline-block;
}

.tech-art img{
    background-color: #FFF;
}

h5{
    font-size: 1.1em;
}
.tag{
    font-family: "futuraLT-bold", 'Times New Roman', Times, serif;
    font-size:0.9em;
    background: #e2e2e2;
    margin-top:15px;
    padding: 10px;
    height:40px;
}
.tag span {
    margin-left:50px;
    background-color: #afafaf;
    border-radius: 3px;
    padding: 0px 25px;
    color: #FFF;
    transition-property: "background-color";
}

.tag span:hover{
    background-color:#e9573f;
}

.pol-art{
    display: inline-block;
}

.title-container{
    padding-top:50px;
}
/* -------------------- CSS FORM ---------------------- */

.contact-title{
    font-size: 6em;
}

label {
    color:#e9573f;
    font-size:1.2em;
}

.input-field{
    margin-bottom: 25px;
}

.line-input{
    height : 25px;
    width:50%;
    border-bottom: 1px solid #e9573f;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    transition: all 0.5s;
}

.line-input:focus{
    height: 50px;
    outline:none;
}

#submit-button-container input{
    border: none;
    background-color: #e9573f;
    color: #FFF;
}

#infolink{
    text-decoration: none;
    color: #e9573f
}

/* --------------------- CSS PC ----------------  */

#top-img{
    position: absolute;
    background-repeat: no-repeat;
}
.noresize{
    min-width: 100%;
    min-height: 800px;
}

.pc-main-wrap{
    padding-top: 800px;
}

/* ------- Left block ---------- */
#ytVid{
    width: 100%;
}

.custom-gray{
    color:#444444;
}

.centered-title{
    text-align: center;
    font-size: 1em;
    font-style: italic
}

.img-pc-selling{
    min-height: 300px;
    margin-bottom: 25px;

}

.black{
    color:black;
}


/*  ----- right block --------- */




/* ----------------------- CSS Content END ----------------------------------  */
