/* TopBar start */

.red-c {
  background-color: #e9573f;
}

.red-f {
  background-color: #E03134;
}

.logo {
  width: 50%;

}

.font-size {
  font-size: 0.7em;

}

.row-topbar {
  height: 100%;

}

#dis {
  font-size: 0.8em;
}

.color-menue {
  background-color: #464646;
}

#frandroid:hover {
  background-color: green;
}

#humanoid:hover {
  background-color: blue;
}

#facebook:hover {
  background-color: #3b5998;
}

#twitter:hover {
  background-color: #0894F5;
}

#flipboard:hover {
  background-color: #E03134;
}

#youtube:hover {
  background-color: #E03134;
}

#rss:hover {
  background-color: #FF972B;
}
/* Topbar end */
