/* TopBar start */

.red-c {
  background-color: #e9573f;
}

.red-f {
  background-color: #E03134;
}

#logo {
  width: 50%;

}

.font-size {
  font-size: 0.7em;

}

.row-topbar {
  height: 100%;

}

#dis {
  font-size: 0.8em;
}

#logo-p {
  width: 50%;
}



/* Topbar end */
